.layout {
  display: flex;
  min-height: 100vh;
  background-color: #fef3f3;
}

.content {
  flex: 1;
  padding: 0;
  overflow-y: auto;
  transition: margin-left 0.3s ease-in-out;
}

/* When sidebar is open */
.content.sidebar-open {
  margin-left: 240px;
}

/* When sidebar is closed */
.content.sidebar-closed {
  margin-left: 0;
}

@media (max-width: 900px) {
  .content.sidebar-open {
    margin-left: 240px;
  }
}